BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBraces: Linux
AlignConsecutiveMacros: true
SortIncludes: false
ForEachMacros: []